.mockup{
    height: 400px;
    background-color: #21295c;
    border-radius: 50%;
}

.imgmockup{
    padding-top: 52px;
    height: 300px;
    margin-top: 52px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}