.deco{
    background-image: url(../assets/images/Vector1.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.div1{
    display: flex;
}

.cochon{
    width: 190px;
    display: block;
    margin-left: auto;
    margin-right: 16px;

}

.imgcons{
    width: 211px;
    height: 385px;
    margin-left: auto;
    display: block;
    margin-top: 16px;
    margin-right: auto;
}

.pageapp{
    background-image: url(../assets/images/Vector3.svg);
    background-repeat: no-repeat;
    margin-top: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    background-size: cover;
    background-position-x: center;
}

.imgsec{
    display: block;
}

.pub{
    background-color: $c-quat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    border-radius: 26px;
    display: block;
    width: 396px;
    height: 245px;
}

.tel{
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
    justify-content: space-between;
    margin-top: 32px;
}

.deco2{
    margin-top: 32px;
    background-image: url(../assets/images/Vector2.svg);
    background-repeat: no-repeat;
    height: 371px;
    background-size: cover;
}

.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
}

.badge{
    width: 166px;
    height: 50px;
}

.liste{
    list-style-type: disc;
    margin-left: 16px;

    li{
        padding-bottom: 26px;
    }
}

.logocase{
    display: block;
    list-style-type: none;
    text-align: center;
}

.logocase__el{
    padding-bottom: 26px;
    width: 100px;
}

.iconecase{
    list-style-type: none;
    text-align: center;
    display: flex;
   justify-content: space-around;
}

.iconecase__el{
    width: 50px;
    padding-bottom: 26px;
}

.queale{
    display: block;
    margin-bottom: 32px;
}

.btn{
    padding-top: 4px;
    width: 19ch;
    border-radius: 26px;
    background: none;
    padding-bottom: 4px;
    border-color: $c-sec;
}

.btn:hover{
    background-color: $c-quat;
    cursor: pointer;
}

.userjourney{
    display: block;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
}

.moodboard{
    width: 250px;
}

.detail{
    color: $c-sec;
    font-weight: 500;
    padding: 26px;
}

.col{
    width: 80px;
    color: $c-bg;
    border-radius: 5px;
    border: solid 2px $c-text;
}

.col--1{
    background-color: $c-sec;
}

.col--2{
    background-color: $c-troi;
}

.col--3{
    background-color: $c-quat;
    color: $c-text;
}

.col--4{
    background-color:$c-cinq;
}

.col--5{
    background-color: $c-bg;
    color: $c-text;
}

.col--6{
    background-color: $c-text;
}

.iconeui-kit{
    width: 50px;
}

@media(min-width: 600px){
    .bulle{
        margin-left: 26px;
    }

    .deco2{
        height: 390px;
    }

    .div1{
        justify-content: center;
    }


    .tel{
        margin-left: 18px;
    }

    .moodboard{
        width: 500px;
    }

    .userjourney{
        width: 550px;
    }

    .video{
        width: 500px;
        height: 315px;
    }

}

@media(min-width: 700px){
    .pageapp{
        background-position-y: bottom;
    }

    .imgsec{
        display: flex;
        justify-content: space-around;
    }
}

@media(min-width: 800px){
    .cochon{
        width: 300px;
    }

    .deco2{
        height: 442px;
    }

    .imgcons{
        width: 232.1px;
        height: 423.5px;
    }

    .div2{
        bottom: 41px;
    }

    .decosec{
        height: 636px;
    }

    .mockup{
        width: 700px;
        display: block;
        margin-left: auto;
    }

    .mockup--right{
        margin-left: 0;
    }

    .cochon--gauche{
        margin-left: 132px;
    }

    .bulle--2{
        margin-left: 310px;
    }

    .logocase{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .logocase__el{
        padding-bottom: 0;
        width: 250px;
    }

    .moodboard{
        width: 700px;
    }

    .detail:hover{
        cursor: pointer;
    }

    .userjourney{
        width: 700px;
    }
}

@media(min-width: 1000px){
    .bulle--2{
        float: right;
        margin-right: 32px;
    }

    .cochon{
        clear: right;
    }

    .pub{
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        height: 196px;
    }

    .tel{
        display: block;
    }

    .moodboard{
        width: 900px;
    }

    .userjourney{
        width: 900px;
    }

    .decosec{
        background-image: url(../assets/images/Vector3.svg);
        background-repeat: no-repeat;
        height: 549px;
        margin-top: 32px;
        background-size: cover;
        background-position-x: -55px;
        background-position-y: -1px;
        margin-left: auto;
        width: 300px;
    }
    
    .imgcons{
        width: 211px;
        height: 385px;
        margin-top: 16px;
    }
    
}