/*
Header : logo nav et darkmode
*/

@import '_variables';

*{
    margin: 0;
}

.header{
    height: 108px;
    background-color: $c-bg;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.nav--mobile{
    display: flex;
    justify-content: space-between;
    padding-bottom: 34px;
}

.logo{
    padding-left: 18px;
    padding-top: 25px;
    width: 150px;
    height: auto;
}

.nav--mobile__el{
    display: flex;
}

.menu{
    padding-top: 34px;
    padding-inline-start: 0;
    opacity: 1;
    background-color: $c-sec;
    text-align: center;
    height: 500px;
}

.menu__el{
    font-weight: 600;
    list-style-type: none;
    padding-top: 52px;

    a{
        text-decoration: none;
        color: $c-menu;
    }
}

.darkmode{
    width: 32px;
    height: auto;
    padding-right: 18px;
    padding-top: 18px;
}

.close{
    display: none;
}

@media(min-width: 1000px){
    .header{
        height: 108px;
        background-color: $c-bg;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    }
    
    .nav{
        display: flex;
        justify-content: space-between;
    }
    
    .logo{
        padding-top: 25px;
        width: 150px;
        height: auto;
        margin-left: 78px;
    }

    .nav--mobile__el{
        padding-left: 52px;
    }

    .burger{
        display: none;
    }
    
    .menu{
        padding-top: 34px;
        display: flex;
        background-color: transparent;
        height: 0;
    }
    
    .menu__el{
        font-weight: 600;
        list-style-type: none;
        margin-right: 78px;
        padding-top: 0;

        a{
            text-decoration: none;
            color: $c-text;
        }
    
        a:hover{
            color: $c-sec;
            text-decoration: underline $c-sec;
        }
    
        a:active{
            color: $c-troi;
            text-decoration: underline $c-troi;
        }
    }
    
    .darkmode{
        width: 32px;
        height: auto;
    }
}

