@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  font-size: $size-text;
  line-height: 26px;
  font-weight: 400;
  color: $c-text;
}

.title {
  color: $c-h1;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.0037em;
  margin-left: 16px;
  padding-top: 48px;
  font-weight: 600;
  width: 330px;
  height: 123px;
}

.title--1{
  height: auto;
  color: $c-sec;
}

.slogan{
  color: $c-bg;
}

.sst{
  padding-top: 68px;
  margin-left: 16px;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.0035em;
  font-weight: 500;
}

.sst--co{
  color: $c-sec;
}

.ss-title{
  color: $c-sec;
  margin-left: 16px;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.0035em;
  font-weight: 500;
  margin-bottom: 16px;
}

.sss-title{
  color: $c-sec;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.0035em;
  margin-left: 32px;
  margin-bottom: 16px;
}

.ssss-title{
  color: $c-sec;
  font-size: 18px;
  line-height: 26px;
  margin-left: 26px;
  margin-right: 26px;
  padding-bottom: 26px;
  font-weight: 500;
}

.cons{
  padding-inline-start: 0;
  list-style-type: none;
  margin-left: 16px;
  
}

.cons__el{
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.0032em;
  padding-top: 32px; 
}

.cons--2{
  margin-left: 55px;
  width: 336px;
}

.conseil-typo{
  font-size: 23px;
  line-height: 33px;
  color: $c-text;
  font-weight: 400;
}

.maj{
  color: $c-sec;
  text-transform: uppercase;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.0037em;
  font-weight: 400;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.maj--modifier{
  color: $c-bg;
}

.ssst{
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.0035em;
  color: $c-text;
  width: 11ch;
}

.ssst--1{
  margin-top: 32px;
  width: 39px;
  position: relative;
  left: 170px;
}

.ssst--2{
  position: relative;
  top: 60px;
  left: 23px;
  color: $c-bg;
  width: 50px;
}

.ssst--3{
  position: relative;
  left: 82px;
  bottom: -5px;
  width: 20ch;
  color: $c-bg;
}

.txt{
  margin-bottom: 16px;
  max-width: 75ch;
  margin-left: 16px;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.0032em;
}

a{
  color: $c-lien;
  text-decoration: none;
  font-weight: 600;
}

.typopub{
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.0038em;
  width: 273px;
  height: 96px;
  padding-top: 32px;
  margin-left: 16px;
}

@media(min-width: 600px){
  .title{
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.0039em;
    height: 208px;
  }

  .title--1{
    height: auto;
  }

  .sst{
    padding-top: 84px;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.0037em;
  }

  .cons__el{
      font-size: 18px;
      line-height: 23px;
      letter-spacing: -0.0030em;
  }

  .ssst{
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0.0037em;
  }

  .ssst--1{
    left: 284px;
  }

  .maj{
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.0039em;
  }

  .ssst--2{
    left: 106px;
    top: 54px;
  }

  .ssst--3{
    left: 168px;
    bottom: -11px;
  }
}

@media(min-width: 800px){
  .title{
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.0043em;
    height: 249px;
  }

  .title--1{
    height: auto;
  }

  .sst{
    padding-top: 116px;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.0041em;
  }

  .ssst{
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.0041em;
  }

  .ssst--1{
    left: 365px;
  }

  .maj{
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.0043em;
  }

  .cons__el{
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.0026em;
  }

  .ssst--2{
    left: 185px;
  }

  .ssst--3{
    left: 251px;
  }

  .ss-title{
    width: 450px;
  }

  .ss-title--right{
    margin-left: auto;
  }

  a:hover{
    text-decoration: underline $c-lien;
  }
}

@media(min-width: 1000px){
  .typopub{
    width: 397px;
  }

  .maj{
    color: $c-sec;
    text-transform: uppercase;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.0037em;
    font-weight: 400;
    writing-mode: vertical-lr;
    text-orientation: upright;
    width: 50px;
  }
  
  .maj--modifier{
    color: $c-bg;
  }
  
  .ssst{
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.0035em;
    color: $c-text;
    width: 11ch;
  }
  
  .ssst--1{
    margin-top: 32px;
    width: 39px;
    position: relative;
    left: 170px;
  }
  
  .ssst--2{
    position: relative;
    top: 3px;
    left: 88px;
    color: $c-bg;
    width: 50px;
  }
  
  .ssst--3{
    position: relative;
    left: 82px;
    bottom: -5px;
    width: 20ch;
    color: $c-bg;
  }

  .ssst--4{
    position: relative;
    right: 143px;
    bottom: 72px;
  }
}