@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  font-size: $size-text;
  line-height: 26px;
  font-weight: 400;
  color: $c-text;
}

.title {
  color: $c-h1;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.0037em;
  margin-left: 16px;
  padding-top: 48px;
  font-weight: 600;
  width: 330px;
  height: 123px;
}

.slogan{
  color: $c-bg;
}

.sst{
  padding-top: 68px;
  margin-left: 16px;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.0035em;
  font-weight: 500;
}

.sst--co{
  color: $c-sec;
}

.ss-title{
  color: $c-h1;
  font-size: 29px;
  line-height: 41px;
  margin-left: 26px;
  margin-right: 26px;
  padding-bottom: 26px;
  font-weight: 600;
}

.sss-title{
  color: $c-h1;
  font-size: 23px;
  line-height: 33px;
  margin-left: 26px;
  margin-right: 26px;
  padding-bottom: 26px;
  font-weight: 600;
}

.ssss-title{
  color: $c-h1;
  font-size: 18px;
  line-height: 26px;
  margin-left: 26px;
  margin-right: 26px;
  padding-bottom: 26px;
  font-weight: 600;
}

.cons{
  padding-inline-start: 0;
  list-style-type: none;
  margin-left: 16px;
  
}

.cons__el{
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.0032em;
  padding-top: 32px; 
}

.cons--2{
  margin-left: 55px;
  width: 336px;
}

.conseil-typo{
  font-size: 23px;
  line-height: 33px;
  color: $c-text;
  font-weight: 400;
}

.txt{
  margin-bottom: 26px;
  max-width: 75ch;
  margin-left: 104px;
}

a{
  color: $c-lien;
  text-decoration: none;
  font-weight: 600;
}

.typopub{
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.0038em;
  width: 273px;
  height: 96px;
  padding-top: 32px;
  margin-left: 16px;
}

@media(min-width: 800px){
  .ss-title{
    width: 450px;
  }

  .ss-title--right{
    margin-left: auto;
  }

  a:hover{
    text-decoration: underline $c-lien;
  }
}