@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  font-size: $size-text;
  line-height: 26px;
  font-weight: 400;
  color: $c-text;
}

.title {
  color: $c-h1;
}

.Ss-title{
  color: $c-h1;
}
